/**
 *                            __           __
 *     ____ __   _____  _____/ /____  ____/ /
 *    / __ `/ | / / _ \/ ___/ __/ _ \/ __  /
 *   / /_/ /| |/ /  __/ /  / /_/  __/ /_/ /
 *   \__,_/ |___/\___/_/   \__/\___/\__,_/
 *
 *
 */

@import url('normalize.css');

/* ===================================================
   General Styles
   =================================================== */
body, html {
    height:100%;
    min-height:100%;
    background-color:#000;
    font-family:'OpenSansLight';
}

.big { font-size: 30px; color:#ffa500; padding:0; margin:0; }
.small { font-size: 24px; }
.tiny { font-size: 12px; }
.hidden { display:none; }

a { color:#33ccff; /*color:rgba(0,191,255,1);*/ text-decoration:none;
    -webkit-text-shadow: 0 2px 5px #000;
    -moz-text-shadow: 0 2px 5px #000;
    text-shadow: 0 2px 5px #000;
}
a:hover { color:#b1e31b; text-decoration:underline; }
a:active { }
a:visited { color:#33ccff; text-decoration:none;
    -webkit-text-shadow: 0 2px 5px #000;
    -moz-text-shadow: 0 2px 5px #000;
    text-shadow: 0 2px 5px #000;
}

#preload {
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* ===================================================
   Grid
   =================================================== */

.grid-container { float: left; }
.grid-container .grid { width:516px; height:516px; background-image:url('../img/grid.png'); border:1px solid #aaa; position:relative; z-index:10; }
.grid-container .grid-shape { position:absolute; top:0; left:0; z-index:14; }
.grid-container .grid-shape-gem { position:absolute; top:0; left:0; z-index:20; width:128px; height:128px; }
.grid-container .grid-shape-gem-spark { position:absolute; z-index:25; width:128px; height:128px; background-repeat:no-repeat; background-position:center; }

.grid-container .controls { width:516px; height:100px; border:1px solid #aaa; border-top:none; -moz-user-select: none; -webkit-user-select: none; }
.grid-container .controls ul { padding:0; margin:0; color:#aaa; list-style:none; }
.grid-container .controls ul li { width:50px; height:50px; display:inline-block; padding:0; margin:10px; cursor:pointer; }

.grid-container .controls .mini-triangle { background-image: url('../img/shape_triangle_mini.png'); }
.grid-container .controls .mini-square { background: url('../img/shape_square_mini.png') bottom no-repeat; }
.grid-container .controls .mini-square2x { background-image: url('../img/shape_square2x_mini.png'); }
.grid-container .controls .mini-rectangle { background: url('../img/shape_rectangle_mini.png') bottom no-repeat; }
.grid-container .controls .mini-outrider { height:75px; background-image: url('../img/shape_outrider_mini.png'); }

#grid-notifications {

}

#grid-notifications .alert {
  color: #ff000;
  font-size: 20px;
  float: left;
  border: 1px solid #fff;
  margin: 20px 0 0 20px;
  padding: 20px;
  opacity: 0;
  transition: .5s all ease;
}
#grid-notifications .alert.success {
  color: #00cc00;
  opacity: 1;
  border-color: #00cc00;
}

#grid-notifications .alert.error {
  color: #ff0000;
  opacity: 1;
  border-color: #ff0000;
}
